<footer class="page-footer indigo darken-4">
  <div class="footer-copyright indigo">
    <div class="container">
      All articles belong to <a href='https://barrie.ctvnews.ca/' target="_blank">Barrie News</a>
      <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a>
    </div>
  </div>
</footer>